
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>HTTP 401: Unauthorized</title>
</head>
<body>
    <section class="content-wrapper main-content clear-fix">
        <div>
            <h5>Access is not available to the resource requested.  If this is unexpected, then please contact support for additional information.</h5>
            <address>
                <strong>Support:</strong>   <a href="mailto:ProjConceptHelp@ProjConceptHelp.com">ProjConceptHelp@ProjConceptHelp.com</a><br />
            </address>
            <address>
                <strong>@Html.ActionLink("Return to Project Concept Home Page", "Index")</strong>
            </address>
        </div>
    </section>
</body>
</html>
